header {
    text-align: center;
    background-color: rgb(148, 201, 148);
}

body {
    background-color: grey;
}

li {
    color: lightgreen;
}


h1 {
    color: orange;
    text-align: center;
}

h3 {
    color: orange;
}

p {
    color: lightgreen;
}



/* id selector */
#image1 {
    width: 200px;
    length: 500px;
    
    
}

#image2 {
    width: 200px;
    length: 500px
}

#image3 {
    width: 250px;
    length: 500px
}

#Competitors {
    text-align: center;
    color: rgb(99, 204, 38);
}

#section1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#section1 li {
    display: inline-block;
}

#section2 {
    display:flex; 
    justify-content: space-evenly;
}
#p1 {
    color: orange;
}
#p2 { color: gold;
text-align: center;}

#title {
    color: black;
}

iframe {
    display: block;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
}